<div class="container-lg px-4" style="margin-top:100px;">
  <div class="row ">

    <div *ngFor="let product of products" class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">{{ product.name }}</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" [src]="product.photo">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
          [routerLink]="['/product', product.id]">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>${{ product.price }}</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>