<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Best Buy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="all-products.html">All Products</a>
            </li>
            <li class="nav-item">

              <select class="form-select" onchange="if (this.value) window.location.href=this.value">
                <option>Select a Category...</option>
                <option value="product-categories.html">Tvs</option>
                <option value="product-categories.html">Computers</option>
                <option value="product-categories.html">Appliances</option>
              </select>

            </li>
          </ul>

        </div>
      </div>
    </nav>
  </div>

</div>


<div class="container-lg px-4" style="margin-top:100px;">
  <div class="row ">

    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Bosch 30" 3.7 Cu. Ft. True Convection 5-Burner Stove</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/stove.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Bosch 36" 21 Cu. Ft. Counter-Depth 4-Door French Door Refrigerator</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/fridge.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Apple MacBook Air 13.3" w/ Touch ID</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/macbook.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Lenovo IdeaPad Flex 5 13.3" Touchscreen 2-in-1 Chromebook</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/tablet.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">LG 50" 4K UHD HDR LED webOS Smart TV</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/lgtv.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Amazon Fire TV Stick 4K Max Media Streamer with Alexa Voice Remote</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="img/firestick.jpeg">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='interior-product.html'">View</button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>$399</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</div>