<div class="container-lg px-4" style="margin-top:100px;">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ products[0]?.category }}</h1>
    </div>
  </div>
  <div class="row ">

    <div *ngFor="let product of products" class="col-md-4  box-shadow ">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" [src]="product.photo">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
          [routerLink]="['/product', product.id]">View</button>
        </div>
      </div>
    </div>
    
  </div>
</div>