<div class="row ">

  <div *ngFor="let category of homeCategories" class="col-md-4  box-shadow ">

    <div class="p-3 card border bg-light">

      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ category.cardName }}</h4>
      </div>

      <div class="card-body">
        <img class="img-fluid mb-4" [src]="category.image">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"
          (click)="toCategoriesPage()">View</button>
      </div>

    </div>

  </div>
  
</div>